.card_size_s {
  grid-column: span 12
}

.card_size_s .card-link {
  grid-column: span 12;
}  

.card_size_s .card-pic {
  grid-column: span 12;
}

.card_size_s .card-desc {
  grid-column: span 12;
}

.card_size_s .card-controls {
  grid-column: span 12;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 0.5em;
}