@media ( min-width: 992px ) {
  .card-header {
    font-size: 19px;
  }
}

@media ( min-width: 1200px ) {
  .card-header {
    font-size: 22px;    
  }
}

@media ( min-width: 1600px ) {
  .card-header {
    font-size: 24px;        
  }
}